.app__header {
    background-color: var(--color-mintcream);
    padding-bottom: 4rem;
    width: 100%;
}

.app__header-h1 {
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img img {
    width: 100%;
}

@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 60px;
        line-height: 210px;
    }
}

@media screen and (min-width: 2000px) {
    .app__header-h2 {
        font-size: 160px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1450px) {
    .app__header-h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 1450px) {
    .app__header-h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 52px;
        line-height: 87px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h2 {
        font-size: 20px;
        line-height: 87px;
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 40px;
        line-height: 55px;
    }
}

@media screen and (max-width: 450px) {
    .app__header-h2 {
        font-size: 40px;
        line-height: 55px;
    }
}